#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  align-items: center;
  align-self: center;
  flex-direction: column;
  border: solid;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 4px;
  background-color: bisque;
}

.navbar-item {
  display: inline;
  margin: 1rem;
  padding: 4px;
  font-weight: 550;
  color: rgb(68, 12, 12);
}

.article-list {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  align-items: center;
  padding: 2rem;
  background-color: darkcyan;
  border-radius: 8px;
}

.single-article-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 4px;
  background-color: bisque;
  width: 80%;
  max-width: 900px;
}

.single-article-line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.article-title {
  font-weight: 600;
  font-size: 20px;
}

.article-topic {
  font-weight: 550;
  color: rgb(50, 97, 18);
}

.article-author {
  font-weight: 550;
  color: rgb(116, 78, 29);
}

.article-comment-count {
  padding: 4px;
  border-radius: 6px;
  background-color: rgb(117, 153, 184);
}

.article-vote-count {
  padding: 4px;
  border-radius: 6px;
  background-color: rgb(117, 153, 184);
}

.article-created {
  color: rgb(49, 48, 48);
}

.single-article-full-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  border: solid;
  border-radius: 10px;
  padding: 1rem;
  background-color: bisque;
  width: 90%;
  max-width: 1500px;
}

.article-body {
  font-size: larger;
  background-color: cornsilk;
  padding: 1rem;
  border: 1rem;
  border: solid;
  border-radius: 20px;
}

.single-article-img {
  border-radius: 10px;
  width: 80%;
  max-width: 1500px;
}

.btn {
  font-size: large;
  padding: 4px;
  background-color: cornsilk;
  border-radius: 4px;
  border: black solid 1px;
}

.comment-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-comment-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid;
  border-radius: 10px;
  padding: 1rem;
  margin: 0px, 0px;
  margin-bottom: 4px;
  background-color: rgb(230, 208, 208);
  width: 80%;
  max-width: 900px;
}

.comment-body {
  padding: 1rem;
  background-color: aliceblue;
  border-radius: 10px;
  font-size: large;
}

.post-comment-hidden {
  display: none;
}

.post-comment-shown {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  border: solid;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(226, 160, 79);
  width: 90%;
  max-width: 1500px;
}

.comment-body-and-submit-hidden {
  display: none;
}

.comment-body-and-submit-shown {
  width: 100%;
  align-self: center;
}

.single-post-comment-line {
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: baseline;
}

#commenter {
  margin-left: 1rem;
  border-radius: 4px;
  border: solid 2px;
  width: 40%;
  background-color: rgb(107, 162, 211);
}

#comment-label {
  border-radius: 4px;
  border: solid 2px;
  margin: 5px;
  width: 10%;
  min-width: 75px;
  background-color: rgb(107, 162, 211);
}

#comment-body {
  margin: 1rem;
  border-radius: 4px;
  border: solid 2px;
  width: 75%;
}

.empty-comment-msg {
  color: rgb(0, 0, 0);
  font-size: large;
  font-weight: 500;
  font-style: oblique;
}

.comment-list-hidden {
  display: none;
}

.comment-list-shown {
  display: flex;
  flex-direction: column;
}

.post-comment {
  margin: 1rem;
  background-color: aquamarine;
}

.login-box {
  align-items: center;
  align-self: center;
  border: solid;
  border-radius: 10px;
  padding: 2rem;
  padding-top: 3rem;
  margin: 1rem;
  margin-top: 2rem;
  background-color: rgb(226, 160, 79);
  width: 90%;
  max-width: 1500px;
}

#post-comment-button-hidden {
  display: none;
}

.has-voted-true#vote-btns {
  display: none;
}

.has-voted-false#vote-message {
  display: none;
}

.user-comment-false {
  display: none;
}
